body{
    background:rgb(239, 222, 218);
}
h2{
    text-align:center;
}

#side1,#side2,#side3{
    margin:3px;
    padding:20px 15px;
    background-color: #d98c8c;
    text-align:center;
    margin:20px;
}
button{
    background-color:#aaa9e8;
    padding:20px 15px;
    text-shadow: 2px 2px 2px  brown;
    font-size:1.0em;
}
h3{
    color:rgb(119, 128, 0);
    margin-left:180px;

}
#one,#two,#three,#four{
   font-family: monospace;
   font-size:1.2em;
   margin-left:150px; 
}

